* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(45deg, #ff0008 0%, #00ff00 99%, #2600ff 100%);
  overflow: hidden;
}

body header,
body #games-section {
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header h1,
body #games-section h1 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-family: Comic Sans MS;
}

body header a,
body #games-section a {
  text-decoration: none;
}

@-webkit-keyframes slidein {
  from {
    color: white;
    font-weight: 200;
  }
  to {
    color: black;
    font-weight: 900;
    margin-top: 50px;
  }
}

@keyframes slidein {
  from {
    color: white;
    font-weight: 200;
  }
  to {
    color: black;
    font-weight: 900;
    margin-top: 50px;
  }
}

body .dog-img {
  position: absolute;
  -webkit-transform: rotate(20deg) translate(-50%, -80%);
          transform: rotate(20deg) translate(-50%, -80%);
  top: 100%;
  width: 100px;
}

body .games {
  margin-top: 50%;
  width: 120px;
  border: red solid 5px;
  padding: 30px;
  font-family: Comic sans-serif;
  font-size: large;
  -webkit-box-shadow: 1px -1px teal;
          box-shadow: 1px -1px teal;
  -webkit-animation: changeColor 1.4s linear infinite alternate;
          animation: changeColor 1.4s linear infinite alternate;
  color: red;
  cursor: pointer;
}

@-webkit-keyframes changeColor {
  0% {
    color: black;
    background: white;
  }
  20% {
    color: white;
    background: red;
  }
  40% {
    color: green;
    background: white;
  }
  60% {
    color: pink;
    background: red;
  }
  80% {
    color: green;
    background: white;
  }
  100% {
    color: green;
    background: red;
  }
}

@keyframes changeColor {
  0% {
    color: black;
    background: white;
  }
  20% {
    color: white;
    background: red;
  }
  40% {
    color: green;
    background: white;
  }
  60% {
    color: pink;
    background: red;
  }
  80% {
    color: green;
    background: white;
  }
  100% {
    color: green;
    background: red;
  }
}

body #list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #list a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
  margin: auto;
}

body #list article {
  width: 20%;
}

body .circle-game {
  width: 100%;
  overflow: hidden;
  height: 40vh;
}

body .circle-game .circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  border: 3px black solid;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .circle-game .circle:hover {
  background: pink;
}

body .circle-game .circle p {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  padding: 0 10px;
}

body .circle-game .circle p::-moz-selection {
  background: transparent;
}

body .circle-game .circle p::selection {
  background: transparent;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=style.css.map */