* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    #ff0008 0%,
    #00ff00 99%,
    #2600ff 100%
  );
  overflow: hidden;

  header {
    height: 10vh;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    h1 {
      animation-duration: 1.5s;
      animation-name: slidein;
      animation-iteration-count: infinite;
      font-family: Comic Sans MS;
    }

    @keyframes slidein {
      from {
        color: white;
        font-weight: 200;
      }

      to {
        color: black;
        font-weight: 900;
        margin-top: 50px;
      }
    }
  }
  section a img {
    position: absolute;
    transform: rotate(20deg) translate(-50%, -80%);
    top: 100%;
    width: 100px;
  }
}
